{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to PlexLib!</h1>

    <table>
        <tr>
            <th>Host</th>
            <td>{{ hostname }}</td>
        </tr>
        <tr>
            <th>Plex Media Server</th>
            <td>{{ url }}</td>
        </tr>
        <tr>
            <th>Plex Media Server Version</th>
            <td>{{ version }}</td>
        </tr>
    </table>

    {% for section in sections %}
        <h3>{{ section }} section</h3>
        <ul>
            <li><a class="update" href="/update/{{ section }}/" data-section="{{ section }}">Refresh</a></li>
            <li><a class="new-media" href="/new-media/{{ section }}/" data-section="{{ section }}">Search for new media</a></li>
            <li><a class="empty-trash" href="/empty-trash/{{ section }}/" data-section="{{ section }}">Empty trash</a></li>
        </ul>
    {% endfor %}

    <div id="results" class="results"></div>
{% endblock %}


{% block bodyjs %}
    {{ super() }}

    <script>
        let update = document.querySelectorAll(".update");
        update.forEach((elem) => {
           elem.addEventListener("click", (event) => {
               event.preventDefault();
               PlexLib.libraryAction(elem.dataset.section, "update");
           })
        });

        let newMedia = document.querySelectorAll(".new-media");
        newMedia.forEach((elem) => {
           elem.addEventListener("click", (event) => {
               event.preventDefault();
               PlexLib.libraryAction(elem.dataset.section, "new-media");
           })
        });

        let emptyTrash = document.querySelectorAll(".empty-trash");
        emptyTrash.forEach((elem) => {
           elem.addEventListener("click", (event) => {
               event.preventDefault();
               PlexLib.libraryAction(elem.dataset.section, "empty-trash");
           })
        });
    </script>
{% endblock %}
