html {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

th {
    text-align: left;
}

td, th {
    padding-right: 20px;
}

tr {
    vertical-align: top;
}

.config th {
    font-size: 1.5rem;
}

.config tr:nth-child(even) {
    background: #CCC;
}

.results {
    font-family: monospace;
}
